# 依存関係の管理

# Slack Botのライブラリ
slack-bolt==1.27.0

# Gemini APIクライアント
google-genai==1.52.0

# API情報の管理
pydantic-settings==2.12.0

# ChromeDBの操作用ライブラリ
chromadb==1.3.5
llama-index-vector-stores-chroma==0.5.3

# GeminiとGithub連携に必要なライブラリ
llama-index-core==0.14.8
llama-index-llms-google-genai==0.7.4
llama-index-embeddings-google-genai==0.3.1
llama-index-readers-github==0.9.0

# 環境変数管理
python-dotenv==1.2.1

