# 依存関係の管理

# Slack Botのライブラリ
slack-bolt==1.27.0

# Gemini APIクライアント
google-generativeai==0.8.5
google-cloud-aiplatform==1.128.0

# API情報の管理
pydantic-settings==2.12.0

# ChromeDBの操作用ライブラリ
chromadb==1.3.5
llama-index-vector-stores-chroma==0.5.3

# GeminiとGithub連携に必要なライブラリ
llama-index-core==0.14.8
llama-index-llms-gemini==0.6.1
llama-index-embeddings-gemini==0.4.1
llama-index-readers-github==0.9.0
python-dotenv==1.2.1

# Vertex AI用ライブラリ
llama-index-llms-vertex==0.6.1
llama-index-embeddings-vertex==0.4.1